*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 1st navbar start */
.navbar{
    position: sticky !important;
    top: 0;
    z-index: 1;
}
.navbar1{
    background-color: #027269; 
}
.navbar1 a{
    font-size: 1rem;
}
.navbar1 a:hover{
text-decoration: underline;
}
.social-links i{
    color: rgb(203, 201, 201);
}
.social-links i:hover{
    color: white;
}
/* 1st navbar end */

/* 2nd navbar start */
.navbar2{
    background-color: #008374;
}
.navbar2 li{
    padding: 10px;
}
/* 2nd navbar end */

/* section 1  sarted*/
.section {
    background-color: #008374;
}
.section-wrapper{   
    background-color: #008374;
}
.section h1{
    font-size: 3.1em;
}
/* @media screen and (max-width:1200px) {
    .section{
        display: flex;
       flex-direction: column-reverse;
       padding-top: 20px;
    }
} */
.section .viedeo button{
    background-color: #008374;
}

/* section 1  end*/

/* card start */
.card{
    background-color: #008374;
}
.card-row{
   margin-top: -7.8%;
}
.card-row .card{
    box-shadow: 0 4px 8px 0 #008374, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-row .card:hover{
    background-color: #027269;
}
/* card end */

/* about start */
.viedeo i{
font-size: 4rem;
}
/* about end */

/* social apps start */
.social-apps img{
    height: 50px;
}
/* social apps ended */

/* our services start */
.services .our-sevices{
    box-shadow: 0 4px 8px 0 #dee2e2, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.our-services span:hover{
    border-top:4px solid green;
}
.services a{
    color: gray;
}
.services a:hover{
    color: #008374;
}
/* our services end */

/* Testimonials start  */
.test .testi{
    box-shadow: 0 4px 8px 0 #dee2e2, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Testimonials ended  */

/* masking start */
.masking{

}
/* masking ended */
/* products start */
.products{
    box-shadow: 0 4px 8px 0 #dee2e2, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* products end */
